{% extends 'adminka/_base.html' %}
{% load static i18n %}
{% block head %}
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        {% get_current_language as LANGUAGE_CODE %}
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-main__title main-title">
                            <h2>{% trans 'Sight Categories' %}</h2>
                            <div>
                                {% if s_categories.has_other_pages %}
                                    <ul class="pagination">
                                        {% if s_categories.has_previous %}
                                            <li class="page-item"><a class="page-link"
                                                                     href="?page={{ s_categories.previous_page_number }}">&laquo;</a>
                                            </li>
                                        {% else %}
                                            <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                                        {% endif %}
                                        {% for i in s_categories.paginator.page_range %}
                                            {% if s_categories.number == i %}
                                                <li class="page-item active"><span class="page-link">{{ i }} <span
                                                        class="sr-only">(current)</span></span></li>
                                            {% else %}
                                                <li class="page-item"><a class="page-link"
                                                                         href="?page={{ i }}">{{ i }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                        {% if s_categories.has_next %}
                                            <li class="page-item"><a class="page-link"
                                                                     href="?page={{ s_categories.next_page_number }}">&raquo;</a>
                                            </li>
                                        {% else %}
                                            <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                                        {% endif %}
                                    </ul>
                                {% endif %}
                                <a href="{% url 'sight-categories-create' %}" type="button"
                                   class="btn btn-info m-t-10 float-right">{% trans 'Add' %}</a>
                            </div>
                        </div>
                        <!-- Add Contact Popup Model -->
                        <div class="table-responsive">
                            <table id="demo-foo-addrow" class="table table-bordered m-t-30 table-hover contact-list"
                                   data-paging="true" data-paging-size="7">
                                <thead>
                                <tr>
                                    <th width="1%">#</th>
                                    <th width="86%">{% trans 'Title' %}</th>
                                    <th width="1%"></th>
                                    <th width="1%"></th>
                                    <th width="1%"></th>
                                </tr>
                                <tbody>
                                {% for c in s_categories %}
                                    <tr>
                                        <td>{{ c.id }}</td>
                                        <td>
                                            <a href="{% url 'sight-categories-update' c.id %}">
                                                <div>
                                                    {% if LANGUAGE_CODE == 'en' %}
                                                        <span>{{ c.title.title_en }}</span>
                                                    {% elif LANGUAGE_CODE == 'ru' %}
                                                        <span>{{ c.title.title_ru }}</span>
                                                    {% endif %}
                                                </div>
                                            </a>
                                        </td>
                                        <td><a href="{% url 'sight-categories-update' c.id %}" class="label label-info"><i
                                                class="fas fa-edit"></i>{% trans 'Edit' %}</a></td>
                                        <td><a href="{% url 'sight-categories-delete' c.id %}" id=""
                                               class="label label-danger"><i class="fas fa-trash"></i></a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <div id="myModal" class="modal-custom">
            <!-- Modal content -->
            <div class="modal-content-custom">
                <span class="close">&times;</span>
                <h2>{% trans 'Are you sure you want to delete?' %}</h2>
                <a href="#">
                    <button type="button" class="btn btn-success">
                        Yes
                    </button>
                </a>
                <button type="button" class="btn btn-danger No">
                    No
                </button>
            </div>
        </div>
    </div>
{% endblock %}