@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icons/icomoon.eot?h6znrg');
  src:  url('../fonts/icons/icomoon.eot?h6znrg#iefix') format('embedded-opentype'),
    url('../fonts/icons/icomoon.ttf?h6znrg') format('truetype'),
    url('../fonts/icons/icomoon.woff?h6znrg') format('woff'),
    url('../fonts/icons/icomoon.svg?h6znrg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-min:before {
  content: "\e91a";
}
.icon-max:before {
  content: "\e91b";
}
.icon-tickets:before {
  content: "\e915";
}
.icon-train:before {
  content: "\e916";
}
.icon-onenote:before {
  content: "\ead6";
}
.icon-bus:before {
  content: "\e917";
}
.icon-hotel:before {
  content: "\e918";
}
.icon-money-2:before {
  content: "\e919";
}

.icon-global:before {
  content: "\e914";
}
.icon-cutlery:before {
  content: "\e900";
}
.icon-gid:before {
  content: "\e901";
}
.icon-group:before {
  content: "\e902";
}
.icon-guide:before {
  content: "\e903";
}
.icon-hotel-front-view:before {
  content: "\e904";
}
.icon-hourglass-3:before {
  content: "\e905";
}
.icon-map:before {
  content: "\e906";
}
.icon-museum-3:before {
  content: "\e907";
}
.icon-placeholder-1:before {
  content: "\e908";
}
.icon-star-1:before {
  content: "\e909";
}
.icon-star:before {
  content: "\e90a";
}
.icon-user:before {
  content: "\e90b";
}
.icon-users:before {
  content: "\e90c";
}
.icon-bed:before {
  content: "\e90d";
}
.icon-check-in:before {
  content: "\e90e";
}
.icon-check-out:before {
  content: "\e90f";
}
.icon-clock-1:before {
  content: "\e910";
}
.icon-baby-1:before {
  content: "\e911";
}
.icon-Arrow:before {
  content: "\e912";
}
.icon-airplane:before {
  content: "\e913";
}