{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{% static 'main/fonts/ProximaNova/stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'main/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/fonts/font-awesome/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/owl.theme.default.min.css' %}">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'main/bootstrap/css/bootstrap-select.min.css' %}">

    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'main/fontisto-master/css/fontisto/fontisto.min.css' %}">

    {% block head %}
    {% endblock %}
    <title>Document</title>

</head>
<body>
<section class="header">
            <div class="header-main">
                <div class="container">
                    <div class="row">
                        <div class="logo-header">
                            <a href="#">
                                <img src="{% static 'main/images/logo.png' %}" alt="logo">
                            </a>
                        </div>
                        <div class="menu-main">
                            <ul class="menu">
                                <li><a href="#">{% trans 'About City' %}</a></li>
                                <li><a href="#">{% trans 'Tours' %}</a></li>
                                <li><a href="#">{% trans 'Sights' %}</a></li>
                                <li><a href="#">{% trans 'Villas' %}</a></li>
                                <li><a href="#">{% trans 'Cars' %}</a></li>
                                <li><a href="#">{% trans 'News' %}</a></li>
                            </ul>
                        </div>
                        <div class="lang-search__main">
                            <div class="search-main">
                                <a href="#">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                    <span>{% trans 'Search' %}</span>
                                </a>
                            </div>
                            <div class="lang-main">
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button"
                                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                        <i class="fa fa-language" aria-hidden="true"></i> {% trans 'English' %}
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">{% trans 'Russian' %}</a>
                                        <a class="dropdown-item" href="#">{% trans 'Arabic' %}</a>
                                        <a class="dropdown-item" href="#">{% trans 'Persian' %}</a>
                                        <a class="dropdown-item" href="#">{% trans 'Hindi' %}</a>
                                        <a class="dropdown-item" href="#">{% trans 'Chinese' %}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner-home">
                <div class="banner-bg" style="background-image: url({% static 'main/images/banner_bg.jpg' %})"></div>
                <div class="banner-content">
                    <h2 class="banner-title">{% trans 'Welcome to Dubai' %}</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis voluptatem numquam itaque
                        assumenda aliquam repudiandae sit, rerum excepturi veniam hic veritatis porro possimus.</p>
                    <a href="#" class="banner-button">{% trans 'Choose a tour' %}</a>
                </div>
                <div id="mouse-scroll">
                    <div class="mouse-arrow">
                        <span class="down-arrow-1"></span>
                        <span class="down-arrow-2"></span>
                        <span class="down-arrow-3"></span>

                    </div>
                </div>
            </div>
        </section>
{% block body %}
{% endblock %}
</body>
	<script src="{% static 'main/js/jquery.js' %}"></script>
    <script src="{% static 'main/bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'main/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="{% static 'main/bootstrap/js/bootstrap-select.min.js' %}"></script>

{% block script %}
{% endblock %}
</html>
