{% extends 'main/base.html' %}
{% load static i18n %}
{% block body %}
    <div class="wrapper">
        <section class="header">
            <div class="header-main">
                <div class="container">
                    <div class="row">
                        <div class="logo-header">
                            <a href="#">
                                <img src="{% static 'main/images/logo.png' %}" alt="logo">
                            </a>
                        </div>
                        <div class="menu-main">
                            <ul class="menu">
                                <li><a href="#">{% trans 'About City' %}</a></li>
                                <li><a href="#">{% trans 'Tours' %}</a></li>
                                <li><a href="#">{% trans 'Sights' %}</a></li>
                                <li><a href="#">{% trans 'Villas' %}</a></li>
                                <li><a href="#">{% trans 'Cars' %}</a></li>
                                <li><a href="#">{% trans 'News' %}</a></li>
                            </ul>
                        </div>
                        <div class="lang-search__main">
                            <div class="search-main">
                                <a href="#">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                    <span>{% trans 'Search' %}</span>
                                </a>
                            </div>
                            <div class="lang-main">
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button"
                                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                        <i class="fa fa-language" aria-hidden="true"></i> {% trans 'English' %}
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">{% trans 'Russian' %}</a>
                                        <a class="dropdown-item" href="#">{% trans 'Arabic' %}</a>
                                        <a class="dropdown-item" href="#">{% trans 'Persian' %}</a>
                                        <a class="dropdown-item" href="#">{% trans 'Hindi' %}</a>
                                        <a class="dropdown-item" href="#">{% trans 'Chinese' %}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner-home">
                <div class="banner-bg" style="background-image: url({% static 'main/images/banner_bg.jpg' %})"></div>
                <div class="banner-content">
                    <h2 class="banner-title">{% trans 'Welcome to Dubai' %}</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis voluptatem numquam itaque
                        assumenda aliquam repudiandae sit, rerum excepturi veniam hic veritatis porro possimus.</p>
                    <a href="#" class="banner-button">{% trans 'Choose a tour' %}</a>
                </div>
                <div id="mouse-scroll">
                    <div class="mouse-arrow">
                        <span class="down-arrow-1"></span>
                        <span class="down-arrow-2"></span>
                        <span class="down-arrow-3"></span>

                    </div>
                </div>
            </div>
        </section>

        <section class="about-home">
            <div class="container">
                <div class="row">
                    <div class="home__title">
                        <h2>{% trans 'About City' %}</h2>
                        <span class="line"></span>
                        <p>{% trans 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil exercitatione.' %}</p>
                    </div>
                    <div class="about-home__main">
                        <div class="row">
                            <div class="col-6">
                                <div class="about-home__images">
                                    <div class="main-row">
                                        <div class="main-col">
                                            <div class="about-home__images-block">
                                                <article class="about-image__1">
                                                    <img src="{% static 'main/images/about1.jpg' %}" alt="">
                                                </article>
                                                <article class="about-image__1">
                                                    <img src="{% static 'main/images/about2.jpg' %}" alt="">
                                                </article>
                                            </div>
                                        </div>
                                        <div class="main-col">
                                            <div class="about-home__images-block">
                                                <article class="about-image__2">
                                                    <img src="{% static 'main/images/about3.jpg' %}" alt="">
                                                </article>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="about-home__grid">
                                    <div class="about-home__content">
                                        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
                                        <div class="about-home__content-text">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt iusto
                                                adipisci eligendi eos repellat nihil, rerum animi impedit odio excepturi
                                                nam non repudiandae odit culpa itaque id quasi suscipit quod. </p>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, aperiam
                                                esse dolores. Ad eos nulla, provident alias obcaecati. Magnam eius
                                                dolorum dolor fugit hic, cupiditate suscipit! Provident, aspernatur quo
                                                blanditiis?.</p>
                                        </div>
                                        <a href="#" class="button">{% trans 'Read more' %}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="about-stat">
                        <div class="row">
                            <div class="col-3">
                                <div class="about-stat__item">
                                    <div class="about-stat__image">
                                        <img src="{% static 'main/images/stat1.png' %}" alt="">
                                    </div>
                                    <div class="about-stat__title">
                                        {% trans 'more than' %} <span>2500 {% trans 'years' %}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="about-stat__item">
                                    <div class="about-stat__image">
                                        <img src="{% static 'main/images/stat2.png' %}" alt="">
                                    </div>
                                    <div class="about-stat__title">
                                        {% trans 'area' %} <span>39,4 {% trans 'km' %}<sup>2</sup></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="about-stat__item">
                                    <div class="about-stat__image">
                                        <img src="{% static 'main/images/stat3.png' %}" alt="">
                                    </div>
                                    <div class="about-stat__title">
                                        {% trans 'about' %} <span>140 {% trans 'statues' %}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="about-stat__item">
                                    <div class="about-stat__image">
                                        <img src="{% static 'main/images/stat4.png' %}" alt="">
                                    </div>
                                    <div class="about-stat__title">
                                        {% trans 'more than' %} <span>160 {% trans 'hotels' %}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="tours-home">
            <div class="container">
                <div class="row">
                    <div class="home__title">
                        <h2>{% trans 'Popular tours' %}</h2>
                        <span class="line"></span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, molestiae.</p>
                    </div>
                    <div class="tours-main">
                        <div class="main-row">
                            <div class="main-col-3">
                                <div class="tours-item">
                                    <a href="#">
                                        <div class="tours-item__image">
                                            <img src="{% static 'main/images/tur1.jpg' %}" alt="">
                                        </div>
                                        <div class="tours-item__content">
                                            <div class="tours-item__title">
                                                <h2>Двухдневный тур по Бухаре</h2>
                                                <ul>
                                                    <li>Ташкент - Бухара - Ташкент</li>
                                                    <li>2 дня / 1 ночь</li>
                                                    <li>Максимальное количество: 10 чел</li>
                                                </ul>
                                            </div>
                                            <div class="tours-item__footer">
                                                <span class="price">220$</span>
                                                <span class="arrow"><img src="{% static 'main/images/arrow.png' %}"
                                                                         alt=""></span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="main-col-3">
                                <div class="tours-item">
                                    <a href="#">
                                        <div class="tours-item__image">
                                            <img src="{% static 'main/images/tur2.jpg' %}" alt="">
                                        </div>
                                        <div class="tours-item__content">
                                            <div class="tours-item__title">
                                                <h2>Двухдневный тур по Бухаре</h2>
                                                <ul>
                                                    <li>Ташкент - Бухара - Ташкент</li>
                                                    <li>2 дня / 1 ночь</li>
                                                    <li>Максимальное количество: 10 чел</li>
                                                </ul>
                                            </div>
                                            <div class="tours-item__footer">
                                                <span class="price">220$</span>
                                                <span class="arrow"><img src="{% static 'main/images/arrow.png' %}"
                                                                         alt=""></span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="main-col-3">
                                <div class="tours-item">
                                    <a href="#">
                                        <div class="tours-item__image">
                                            <img src="{% static 'main/images/tur3.jpg' %}" alt="">
                                        </div>
                                        <div class="tours-item__content">
                                            <div class="tours-item__title">
                                                <h2>Двухдневный тур по Бухаре</h2>
                                                <ul>
                                                    <li>Ташкент - Бухара - Ташкент</li>
                                                    <li>2 дня / 1 ночь</li>
                                                    <li>Максимальное количество: 10 чел</li>
                                                </ul>
                                            </div>
                                            <div class="tours-item__footer">
                                                <span class="price">220$</span>
                                                <span class="arrow"><img src="{% static 'main/images/arrow.png' %}"
                                                                         alt=""></span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="main-col-3">
                                <div class="tours-item">
                                    <a href="#">
                                        <div class="tours-item__image">
                                            <img src="{% static 'main/images/tur4.jpg' %}" alt="">
                                        </div>
                                        <div class="tours-item__content">
                                            <div class="tours-item__title">
                                                <h2>Двухдневный тур по Бухаре</h2>
                                                <ul>
                                                    <li>Ташкент - Бухара - Ташкент</li>
                                                    <li>2 дня / 1 ночь</li>
                                                    <li>Максимальное количество: 10 чел</li>
                                                </ul>
                                            </div>
                                            <div class="tours-item__footer">
                                                <span class="price">220$</span>
                                                <span class="arrow"><img src="{% static 'main/images/arrow.png' %}"
                                                                         alt=""></span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="button-load__more">
                            <a href="" class="button">{% trans 'Show all' %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="sights-home">
            <div class="home__title">
                <h2>{% trans 'Sights' %}</h2>
                <span class="line"></span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, incidunt.</p>
            </div>
            <div class="sights-home__main">
                <div class="sight-home__blur"
                     style="background-image: url({% static 'main/images/banner_bg.jpg' %});"></div>
                <div class="container">
                    <div class="row">
                        <div class="sights-carousel">
                            <div id="sightsCarousel" class="owl-carousel owl-theme">
                                <div class="item">
                                    <div class="sights-item">
                                        <a href="#">
                                            <div class="sights-item__image">
                                                <img src="{% static 'main/images/sight1.jpg' %}" alt="">
                                            </div>
                                            <div class="sight-item__title">
                                                <h2>Минарет Калян</h2>
                                                <span>XVII век</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="sights-item">
                                        <a href="#">
                                            <div class="sights-item__image">
                                                <img src="{% static 'main/images/sight2.jpg' %}" alt="">
                                            </div>
                                            <div class="sight-item__title">
                                                <h2>Минарет Калян</h2>
                                                <span>XVII век</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="sights-item">
                                        <a href="#">
                                            <div class="sights-item__image">
                                                <img src="{% static 'main/images/sight3.jpg' %}" alt="">
                                            </div>
                                            <div class="sight-item__title">
                                                <h2>Минарет Калян</h2>
                                                <span>XVII век</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="sights-item">
                                        <a href="#">
                                            <div class="sights-item__image">
                                                <img src="{% static 'main/images/sight4.jpg' %}" alt="">
                                            </div>
                                            <div class="sight-item__title">
                                                <h2>Минарет Калян</h2>
                                                <span>XVII век</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="sights-item">
                                        <a href="#">
                                            <div class="sights-item__image">
                                                <img src="{% static 'main/images/sight5.jpg' %}" alt="">
                                            </div>
                                            <div class="sight-item__title">
                                                <h2>Минарет Калян</h2>
                                                <span>XVII век</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="sights-item">
                                        <a href="#">
                                            <div class="sights-item__image">
                                                <img src="{% static 'main/images/sight1.jpg' %}" alt="">
                                            </div>
                                            <div class="sight-item__title">
                                                <h2>Минарет Калян</h2>
                                                <span>XVII век</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="button-load__more">
                                <a href="#" class="button">{% trans 'Show all' %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="hotels-home">
            <div class="container">
                <div class="row">
                    <div class="home__title">
                        <h2>{% trans 'Villas' %}</h2>
                        <span class="line"></span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur ex soluta nostrum!</p>
                    </div>
                    <div class="hotels-main">
                        <div class="main-row">
                            <div class="main-col-6">
                                <div class="hotels-item">
                                    <a href="#">
                                        <div class="hotels-item__content">
                                            <div class="tours-item__title">
                                                <h2>Бутик-отель «Кукалдош»</h2>
                                                <span class="stars">Количество звезд: 
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                </span>
                                                <span class="price">от <strong>50$</strong></span>
                                            </div>
                                            <div class="hotels-item__text">
                                                <p>Бутик-отель Kukaldosh с рестораном и бесплатным Wi-Fi
                                                    расположен в историческом центре Бухары. Все номера
                                                    оборудованы кондиционером, телевизором и мини-баром</p>
                                            </div>
                                            <div class="tours-item__footer">
                                                <span class="readmore">Подробнее</span>
                                                <span class="arrow"><img src="{% static 'main/images/arrow.png' %}"
                                                                         alt=""></span>
                                            </div>
                                        </div>
                                        <div class="hotels-item__image">
                                            <img src="{% static 'main/images/hotel1.jpg' %}" alt="">
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="main-col-6">
                                <div class="hotels-item">
                                    <a href="#">
                                        <div class="hotels-item__content">
                                            <div class="tours-item__title">
                                                <h2>Бутик-отель «Кукалдош»</h2>
                                                <span class="stars">Количество звезд: 
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                </span>
                                                <span class="price">от <strong>50$</strong></span>
                                            </div>
                                            <div class="hotels-item__text">
                                                <p>Бутик-отель Kukaldosh с рестораном и бесплатным Wi-Fi
                                                    расположен в историческом центре Бухары. Все номера
                                                    оборудованы кондиционером, телевизором и мини-баром</p>
                                            </div>
                                            <div class="tours-item__footer">
                                                <span class="readmore">Подробнее</span>
                                                <span class="arrow"><img src="{% static 'main/images/arrow.png' %}"
                                                                         alt=""></span>
                                            </div>
                                        </div>
                                        <div class="hotels-item__image">
                                            <img src="{% static 'main/images/hotel2.jpg' %}" alt="">
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="main-col-6">
                                <div class="hotels-item">
                                    <a href="#">
                                        <div class="hotels-item__content">
                                            <div class="tours-item__title">
                                                <h2>Бутик-отель «Кукалдош»</h2>
                                                <span class="stars">Количество звезд: 
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                </span>
                                                <span class="price">от <strong>50$</strong></span>
                                            </div>
                                            <div class="hotels-item__text">
                                                <p>Бутик-отель Kukaldosh с рестораном и бесплатным Wi-Fi
                                                    расположен в историческом центре Бухары. Все номера
                                                    оборудованы кондиционером, телевизором и мини-баром</p>
                                            </div>
                                            <div class="tours-item__footer">
                                                <span class="readmore">Подробнее</span>
                                                <span class="arrow"><img src="{% static 'main/images/arrow.png' %}"
                                                                         alt=""></span>
                                            </div>
                                        </div>
                                        <div class="hotels-item__image">
                                            <img src="{% static 'main/images/hotel3.jpg' %}" alt="">
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="main-col-6">
                                <div class="hotels-item">
                                    <a href="#">
                                        <div class="hotels-item__content">
                                            <div class="tours-item__title">
                                                <h2>Бутик-отель «Кукалдош»</h2>
                                                <span class="stars">Количество звезд: 
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                </span>
                                                <span class="price">от <strong>50$</strong></span>
                                            </div>
                                            <div class="hotels-item__text">
                                                <p>Бутик-отель Kukaldosh с рестораном и бесплатным Wi-Fi
                                                    расположен в историческом центре Бухары. Все номера
                                                    оборудованы кондиционером, телевизором и мини-баром</p>
                                            </div>
                                            <div class="tours-item__footer">
                                                <span class="readmore">Подробнее</span>
                                                <span class="arrow"><img src="{% static 'main/images/arrow.png' %}"
                                                                         alt=""></span>
                                            </div>
                                        </div>
                                        <div class="hotels-item__image">
                                            <img src="{% static 'main/images/hotel4.jpg' %}" alt="">
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="main-col-6">
                                <div class="hotels-item">
                                    <a href="#">
                                        <div class="hotels-item__content">
                                            <div class="tours-item__title">
                                                <h2>Бутик-отель «Кукалдош»</h2>
                                                <span class="stars">Количество звезд: 
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                </span>
                                                <span class="price">от <strong>50$</strong></span>
                                            </div>
                                            <div class="hotels-item__text">
                                                <p>Бутик-отель Kukaldosh с рестораном и бесплатным Wi-Fi
                                                    расположен в историческом центре Бухары. Все номера
                                                    оборудованы кондиционером, телевизором и мини-баром</p>
                                            </div>
                                            <div class="tours-item__footer">
                                                <span class="readmore">Подробнее</span>
                                                <span class="arrow"><img src="{% static 'main/images/arrow.png' %}"
                                                                         alt=""></span>
                                            </div>
                                        </div>
                                        <div class="hotels-item__image">
                                            <img src="{% static 'main/images/hotel5.jpg' %}" alt="">
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="main-col-6">
                                <div class="hotels-item">
                                    <a href="#">
                                        <div class="hotels-item__content">
                                            <div class="tours-item__title">
                                                <h2>Бутик-отель «Кукалдош»</h2>
                                                <span class="stars">Количество звезд: 
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                </span>
                                                <span class="price">от <strong>50$</strong></span>
                                            </div>
                                            <div class="hotels-item__text">
                                                <p>Бутик-отель Kukaldosh с рестораном и бесплатным Wi-Fi
                                                    расположен в историческом центре Бухары. Все номера
                                                    оборудованы кондиционером, телевизором и мини-баром</p>
                                            </div>
                                            <div class="tours-item__footer">
                                                <span class="readmore">Подробнее</span>
                                                <span class="arrow"><img src="{% static 'main/images/arrow.png' %}"
                                                                         alt=""></span>
                                            </div>
                                        </div>
                                        <div class="hotels-item__image">
                                            <img src="{% static 'main/images/hotel6.jpg' %}" alt="">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="button-load__more">
                            <a href="" class="button">{% trans 'Show all' %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="news-home">
            <div class="container">
                <div class="row">
                    <div class="home__title">
                        <h2>{% trans 'News' %}</h2>
                        <span class="line"></span>
                        <p>Lorem ipsum dolor sit amet, consectetur.</p>
                    </div>
                    <div class="news-home__main">
                        <div class="main-row">
                            <div class="main-col-4">
                                <div class="news-block__1">
                                    <a href="#">
                                        <div class="news-block1__image"
                                             style="background-image: url({% static 'main/images/news1.jpg' %})"></div>
                                        <div class="news-block1__title">
                                            <div class="news-block1__date">
                                                <span class="date">17.06.2019</span>
                                                <span class="views"><i class="fa fa-eye"
                                                                       aria-hidden="true"></i> 245</span>
                                            </div>
                                            <h2>25-27 мая пройдет 18-й традиционный фестиваль «Шелк и специи»</h2>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="main-col-4">
                                <div class="news-home__item">
                                    <a href="#">
                                        <div class="news-item__title">
                                            <h2>Положение об организации деятельности хостелов</h2>
                                        </div>
                                        <div class="news-item__text">
                                            <p>Госкомтуризмом разработано положение об организации
                                                деятельности хостелов. В документе содержится информация
                                                о правах и обязанностях владельцев хостелов, порядке их...</p>
                                        </div>
                                        <div class="news-item__footer">
                                            <span class="date">17.06.2019</span>
                                            <span class="views"><i class="fa fa-eye" aria-hidden="true"></i> 245</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="news-home__item">
                                    <a href="#">
                                        <div class="news-item__title">
                                            <h2>Положение об организации деятельности хостелов</h2>
                                        </div>
                                        <div class="news-item__text">
                                            <p>Госкомтуризмом разработано положение об организации
                                                деятельности хостелов. В документе содержится информация
                                                о правах и обязанностях владельцев хостелов, порядке их...</p>
                                        </div>
                                        <div class="news-item__footer">
                                            <span class="date">17.06.2019</span>
                                            <span class="views"><i class="fa fa-eye" aria-hidden="true"></i> 245</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="main-col-4">
                                <div class="news-block__1">
                                    <a href="#">
                                        <div class="news-block1__image"
                                             style="background-image: url({% static 'main/images/news2.jpg' %})"></div>
                                        <div class="news-block1__title">
                                            <div class="news-block1__date">
                                                <span class="date">17.06.2019</span>
                                                <span class="views"><i class="fa fa-eye"
                                                                       aria-hidden="true"></i> 245</span>
                                            </div>
                                            <h2>25-27 мая пройдет 18-й традиционный фестиваль «Шелк и специи»</h2>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="button-load__more">
                            <a href="" class="button">{% trans 'Show all' %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="footer-main">
                        <div class="row">
                            <div class="col-3">
                                <div class="footer-logo">
                                    <a href="#"><img src="{% static 'main/images/logo.png' %}" alt=""></a>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum porro assumenda
                                        nulla nihil expedita. Soluta ipsam, et architecto dolor accusantium.</p>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="footer-menu">
                                    <ul>
                                        <li><a href="#">{% trans 'About City' %}</a></li>
                                        <li><a href="#">{% trans 'Tours' %}</a></li>
                                        <li><a href="#">{% trans 'Sights' %}</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="footer-menu">
                                    <ul>
                                        <li><a href="#">{% trans 'Villas' %}</a></li>
                                        <li><a href="#">{% trans 'Cars' %}</a></li>
                                        <li><a href="#">{% trans 'News' %}</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="footer-copy">
                                    <span class="copy">© 2019. {% trans 'All rights reserved' %}</span>
                                    <span class="developer">{% trans 'Site development' %}:<a href="https://osg.uz/"> Online Service Group</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'main/js/owl.carousel.min.js' %}"></script>
    <script>

        $('#sightsCarousel').owlCarousel({
            autoplay: true,
            loop: true,
            items: 5,
            nav: true,
            navText: [
                '<i class="fa fa-angle-left" aria-hidden="true"></i>',
                '<i class="fa fa-angle-right" aria-hidden="true"></i>'
            ],
            dots: false,
            margin: 15,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1
                },
                480: {
                    items: 3
                },
                769: {
                    items: 5
                }
            }
        });
    </script>
{% endblock %}
