<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="fonts/ProximaNova/stylesheet.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap-select.min.css">

    
    <link rel="stylesheet" href="css/style.css">

    <script src="js/jquery.js"></script>
    <script src="bootstrap/js/popper.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="bootstrap/js/bootstrap-select.min.js"></script>
    
</head>
<body>
    <div class="wrapper">
        <section class="header header-pages">
            <div class="header-main">
                <div class="container">
                    <div class="row">
                        <div class="logo-header">
                            <a href="#">
                                <img src="images/logo.png" alt="logo">
                            </a>
                        </div>
                        <div class="menu-main">
                            <ul class="menu">
                                <li><a href="#">О городе</a></li>
                                <li><a href="#">Туры</a></li>
                                <li><a href="#">Достопримечательности</a></li>
                                <li><a href="#">Гостиницы</a></li>
                                <li><a href="#">Полезная информация</a></li>
                                <li><a href="#">Новости</a></li>
                            </ul>
                        </div>
                        <div class="lang-search__main">
                            <div class="search-main">
                                <a href="#">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                    <span>Поиск</span>
                                </a>
                            </div>
                            <div class="lang-main">
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-language" aria-hidden="true"></i> Русский
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">O'zbek</a>
                                        <a class="dropdown-item" href="#">English</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner-pages">
                <div class="banner-bg" style="background-image: url(images/banner_bg.jpg)"></div>
                <div class="banner-content">
                    <h2 class="banner-title">Туры по Бухаре</h2>
                    <p>Насыщенные маршруты, доступные цены и приятное общество профессионального гида</p>
                </div>
            </div>
        </section>

  
        <section class="pages">
            <div class="container">
                <div class="row">
                    <div class="pages-wrapper">
                        <div class="main-row">
                            <div class="main-col-side">
                                <div class="pages-side__main">
                                    <div class="side-title">
                                        <h2>Фильтр</h2>
                                    </div>
                                    <div class="side-content">
                                        <form action="" class="side-form">
                                            <div class="form-group">
                                                <label for="typeTour">Тип тура</label>
                                                <select id="typeTour" class="form-control selectpicker">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="typeTour">Минимальная цена ($)</label>
                                                <select id="typeTour" class="form-control selectpicker">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="typeTour">Максимальная цена ($)</label>
                                                <select id="typeTour" class="form-control selectpicker">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="typeTour">Количество человек</label>
                                                <select id="typeTour" class="form-control selectpicker">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                            </div>
                                            <div class="side-buttons">
                                                <button type="button" class="btn">Найти</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="main-col-content">
                                <div class="pages-content__main">
                                    <div class="tours-main">
                                        <div class="main-row">
                                            <div class="main-col-4">
                                                <div class="tours-item">
                                                    <a href="#">
                                                        <div class="tours-item__image">
                                                            <img src="images/tur1.jpg" alt="">
                                                        </div>
                                                        <div class="tours-item__content">
                                                            <div class="tours-item__title">
                                                                <h2>Двухдневный тур по Бухаре</h2>
                                                                <ul>
                                                                    <li>Ташкент - Бухара - Ташкент</li>
                                                                    <li>2 дня / 1 ночь</li>
                                                                    <li>Максимальное количество: 10 чел</li>
                                                                </ul>
                                                            </div>
                                                            <div class="tours-item__footer">
                                                                <span class="price">220$</span>
                                                                <span class="arrow"><img src="images/arrow.png" alt=""></span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="main-col-4">
                                                <div class="tours-item">
                                                    <a href="#">
                                                        <div class="tours-item__image">
                                                            <img src="images/tur2.jpg" alt="">
                                                        </div>
                                                        <div class="tours-item__content">
                                                            <div class="tours-item__title">
                                                                <h2>Двухдневный тур по Бухаре</h2>
                                                                <ul>
                                                                    <li>Ташкент - Бухара - Ташкент</li>
                                                                    <li>2 дня / 1 ночь</li>
                                                                    <li>Максимальное количество: 10 чел</li>
                                                                </ul>
                                                            </div>
                                                            <div class="tours-item__footer">
                                                                <span class="price">220$</span>
                                                                <span class="arrow"><img src="images/arrow.png" alt=""></span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="main-col-4">
                                                <div class="tours-item">
                                                    <a href="#">
                                                        <div class="tours-item__image">
                                                            <img src="images/tur3.jpg" alt="">
                                                        </div>
                                                        <div class="tours-item__content">
                                                            <div class="tours-item__title">
                                                                <h2>Двухдневный тур по Бухаре</h2>
                                                                <ul>
                                                                    <li>Ташкент - Бухара - Ташкент</li>
                                                                    <li>2 дня / 1 ночь</li>
                                                                    <li>Максимальное количество: 10 чел</li>
                                                                </ul>
                                                            </div>
                                                            <div class="tours-item__footer">
                                                                <span class="price">220$</span>
                                                                <span class="arrow"><img src="images/arrow.png" alt=""></span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="main-col-4">
                                                <div class="tours-item">
                                                    <a href="#">
                                                        <div class="tours-item__image">
                                                            <img src="images/tur4.jpg" alt="">
                                                        </div>
                                                        <div class="tours-item__content">
                                                            <div class="tours-item__title">
                                                                <h2>Двухдневный тур по Бухаре</h2>
                                                                <ul>
                                                                    <li>Ташкент - Бухара - Ташкент</li>
                                                                    <li>2 дня / 1 ночь</li>
                                                                    <li>Максимальное количество: 10 чел</li>
                                                                </ul>
                                                            </div>
                                                            <div class="tours-item__footer">
                                                                <span class="price">220$</span>
                                                                <span class="arrow"><img src="images/arrow.png" alt=""></span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        
        <footer>
            <div class="container">
                <div class="row">
                    <div class="footer-main">
                        <div class="row">
                            <div class="col-3">
                                <div class="footer-logo">
                                    <a href="#"><img src="images/logo.png" alt=""></a>
                                    <p>Бухара – жемчужина Востока, один из самых древних и красивейших городов,     расположенных в Узбекистане</p>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="footer-menu">
                                    <ul>
                                        <li><a href="#">О городе</a></li>
                                        <li><a href="#">Туры</a></li>
                                        <li><a href="#">Достопримечательности</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="footer-menu">
                                    <ul>
                                        <li><a href="#">Отели</a></li>
                                        <li><a href="#">Полезная информация</a></li>
                                        <li><a href="#">Новости</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="footer-copy">
                                    <span class="copy">© 2019. Все права защищены</span>
                                    <span class="developer">Разработка сайта:<a href="#"> Online Service Group</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <script>
                $('.selectpicker').selectpicker();
           
        </script>
    </div>    
</body>
</html>