<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="fonts/ProximaNova/stylesheet.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap-select.min.css">

    
    <link rel="stylesheet" href="css/style.css">

    <script src="js/jquery.js"></script>
    <script src="bootstrap/js/popper.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="bootstrap/js/bootstrap-select.min.js"></script>
    
</head>
<body>
    <div class="wrapper">
        <section class="header header-pages">
            <div class="header-main">
                <div class="container">
                    <div class="row">
                        <div class="logo-header">
                            <a href="#">
                                <img src="images/logo.png" alt="logo">
                            </a>
                        </div>
                        <div class="menu-main">
                            <ul class="menu">
                                <li><a href="#">О городе</a></li>
                                <li><a href="#">Туры</a></li>
                                <li><a href="#">Достопримечательности</a></li>
                                <li><a href="#">Гостиницы</a></li>
                                <li><a href="#">Полезная информация</a></li>
                                <li><a href="#">Новости</a></li>
                            </ul>
                        </div>
                        <div class="lang-search__main">
                            <div class="search-main">
                                <a href="#">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                    <span>Поиск</span>
                                </a>
                            </div>
                            <div class="lang-main">
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-language" aria-hidden="true"></i> Русский
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">O'zbek</a>
                                        <a class="dropdown-item" href="#">English</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner-pages">
                <div class="banner-bg" style="background-image: url(images/banner_bg.jpg)"></div>
                <div class="banner-content">
                    <h2 class="banner-title">Туры по Бухаре</h2>
                    <p>Насыщенные маршруты, доступные цены и приятное общество профессионального гида</p>
                </div>
            </div>
        </section>

  
        <section class="pages">
            <div class="container">
                <div class="row">
                    <div class="pages-wrapper">
                        <div class="main-row">
                            <div class="main-col-side">
                                <div class="pages-side__main">
                                    <div class="side-title">
                                        <h2>Забронировать тур</h2>
                                    </div>
                                    <div class="side-content">
                                        <form action="" class="side-form">
                                            <div class="form-group">
                                                <label for="name">Имя</label>
                                                <input type="text" class="form-control" id="name">
                                            </div>
                                            <div class="form-group">
                                                <label for="phone">Телефон</label>
                                                <input type="text" class="form-control" id="phone">
                                            </div>
                                            <div class="form-group">
                                                <label for="email">E-mail</label>
                                                <input type="text" class="form-control" id="email">
                                            </div>
                                            <div class="side-buttons">
                                                <button type="button" class="btn">Отправить</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="main-col-content">
                                <div class="pages-content__main">
                                    <div class="tours-view">
                                        <div class="tours-view__head">
                                            <div class="row">
                                                <div class="col-7">
                                                    <div class="tours-view__head__main">
                                                        <div class="title">
                                                            <h2>“Бухорои Шариф”</h2>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-8">
                                                                <ul class="tours-view__list">
                                                                    <li><i></i> Ташкент - Бухара - Ташкент</li>
                                                                    <li><i></i> 2 дня / 1 ночь</li>
                                                                    <li><i></i> Максимальное количество: 12 чел</li>
                                                                    <li><i></i> Экскурсия с Гидом</li>
                                                                </ul>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="price-buttons">
                                                                    <button>от 1 чел - <span>180$</span></button>
                                                                    <button>от 2 чел - <span>230$</span></button>
                                                                    <button>от 3 чел - <span>280$</span></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-5">
                                                    <div class="tours-view__head__image">
                                                        <img src="images/tur-view.jpg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tours-view__tabs">
                                            <div class="tabs-main">
                                                <nav>
                                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                                        <a class="nav-item nav-link active" id="nav-desc-tab" data-toggle="tab" href="#nav-desc" role="tab" aria-controls="nav-desc" aria-selected="true">Описание</a>

                                                        <a class="nav-item nav-link" id="nav-programm-tab" data-toggle="tab" href="#nav-programm" role="tab" aria-controls="nav-programm" aria-selected="false">Программа</a>

                                                        <a class="nav-item nav-link" id="nav-inclusive-tab" data-toggle="tab" href="#nav-inclusive" role="tab" aria-controls="nav-inclusive" aria-selected="false">Включено</a>

                                                        <a class="nav-item nav-link" id="nav-map-tab" data-toggle="tab" href="#nav-map" role="tab" aria-controls="nav-map" aria-selected="false">Карта</a>
                                                    </div>
                                                </nav>
                                                <div class="tab-content" id="nav-tabContent">
                                                    <div class="tab-pane fade show active" id="nav-desc" role="tabpanel" aria-labelledby="nav-desc-tab">
                                                        <div class="tab-content__description">
                                                            <p>Двухдневная Экскурсия По Бухаре - 2 Дня (Ежедневно) Проведите два незабываемых дня в Священной Бухаре – «Бухорои Шариф», расположенной на Великом Шелковом Пути, объединявшем когда-то страны Среднего Востока с Индией и Китаем.
                                                                    
                                                            <p>Летоисчисление Бухары насчитывает 2 500 лет. Ее непростая и полная событий история начинается в 5 веке  до н.э. с правления Принца Сиявуша и заканчивается в начале 20 века падением Бухарского Эмирата при Эмире Саид Алимхане,  последнем         правителе из мангытской династии. Тур делится на два дня. В первый день мы проведем экскурсию по старому городу. Во второй день вашему вниманию предлагается загородная экскурсия в окрестностях Бухары.  </p></p>
                                                        </div>
                                                    </div>

                                                    <div class="tab-pane fade" id="nav-programm" role="tabpanel" aria-labelledby="nav-programm-tab">
                                                        <div class="tab-content__programm">
                                                            <h2 class="title"><span>Первый день:</span> Экскурсия по старому городу Бухары</h2>
                                                            <div>
                                                                <p>Экскурсионная программа начнется с поездки на окраину старого города и посещения мавзолея Саманидов (9 век). </p>
                                                                <p>С этого пункта начинается пеший тур, который включает в себя посещение следующих памятников: мавзолей Чашма-Аюб; мечеть  Боло-Хауз; крепость-цитадель  Арк; исторический комплекс Пои Калон, состоящий из Минарета Калон, городской Мечети Калон, Медресе Мири-Араб и маленького Медресе Саид Алимхана. Далее маршрут пролегает через торговые купола (16 века) к медресе Улугбека и медресе Абдулазиз-хана. За вторым торговым куполом перед нами предстанет мечеть Магоки-Аттори, отличающаяся уникальностью отделки внешнего портала. Экскурсия первого дня закончится визитом в исторический комплекс  Ляби-Хауз, состоящий из Ханака Нодир Деван Беги, одноименного Медресе, Хауз (пруд) и Медресе Кукельдаш.</p>
                                                            </div>
                                                            <span class="tour-duration"><i></i> Продолжительность экскурсии от 5 до 7 часов (продолжительность зависит от количества человек в группе)</span>
                                                        </div>
                                                        <div class="tab-content__programm">
                                                            <h2 class="title"><span>Второй день: </span> Загородная экскурсия по Бухаре</h2>
                                                            <div>
                                                                <p>Второй день нашей увлекательной экскурсии начнется с поездки за город. Мы посетим историко-религиозный комплекс Бахауддина Накшбанди, основателя суфийского Ордена «Золотая Цепь Накшбанди». Комплекс расположен в 8 километрах от Бухары в селении Каср Арафон. Затем проедем к летней резиденции Бухарских Эмиров - Ситораи Мохи Хоса («Дом Луны и Звезд»). Вы сможете оценить уникальность архитектурного стиля этого памятника, который сочетает европейские и восточные черты и характеристики. Последний пункт по маршруту второго дня -  посещение святого для мусульман места - Некрополиса Чор Бакр («Четыре Брата»). Мы расскажем вам историю о четырех братьях, которые приехали в Бухару, чтобы распространять исламскую веру и учение пророка Мухаммеда.</p>
                                                            </div>
                                                            <span class="tour-duration"><i></i> Продолжительность тура 4 часа</span>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="tab-pane fade" id="nav-inclusive" role="tabpanel" aria-labelledby="nav-inclusive-tab">
                                                        <div class="tab-content__inclusive">
                                                            <div class="title">
                                                                <h2>В стоимость включено:</h2>
                                                            </div>
                                                            <div class="main-row">
                                                                <div class="inclusive-col">
                                                                    <div class="inclusive-item">
                                                                        <div class="inclusive-item__content">
                                                                            <img src="images/inc1.png" alt="">
                                                                            <span>Гид - экскурсовод</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="inclusive-col">
                                                                    <div class="inclusive-item">
                                                                        <div class="inclusive-item__content">
                                                                            <img src="images/inc2.png" alt="">
                                                                            <span>Входные билеты в музеи</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="inclusive-col">
                                                                    <div class="inclusive-item">
                                                                        <div class="inclusive-item__content">
                                                                            <img src="images/inc3.png" alt="">
                                                                            <span>Транспорт в течение  тура</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="inclusive-col">
                                                                    <div class="inclusive-item">
                                                                        <div class="inclusive-item__content">
                                                                            <img src="images/inc4.png" alt="">
                                                                            <span>Проживание в отеле</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="inclusive-col">
                                                                    <div class="inclusive-item">
                                                                        <div class="inclusive-item__content">
                                                                            <img src="images/inc1.png" alt="">
                                                                            <span>Завтраки в отеле</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="inclusive-col">
                                                                    <div class="inclusive-item">
                                                                        <div class="inclusive-item__content">
                                                                            <img src="images/inc3.png" alt="">
                                                                            <span>Ж/Д билеты эконом  класса</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="inclusive-col">
                                                                    <div class="inclusive-item">
                                                                        <div class="inclusive-item__content">
                                                                            <img src="images/inc2.png" alt="">
                                                                            <span>Встречи и проводы</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                               
                                                            </div>
                                                        </div>
                                                        <div class="tab-content__inclusive">
                                                            <div class="title">
                                                                <h2>Дополнительные расходы:</h2>
                                                            </div>
                                                            <div class="main-row">
                                                                <div class="inclusive-col">
                                                                    <div class="inclusive-item">
                                                                        <div class="inclusive-item__content">
                                                                            <img src="images/inc4.png" alt="">
                                                                            <span>Гид - экскурсовод</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="inclusive-col">
                                                                    <div class="inclusive-item">
                                                                        <div class="inclusive-item__content">
                                                                            <img src="images/inc2.png" alt="">
                                                                            <span>Международные  перелеты</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="inclusive-col">
                                                                    <div class="inclusive-item">
                                                                        <div class="inclusive-item__content">
                                                                            <img src="images/inc1.png" alt="">
                                                                            <span>Плата за фото и  видеосъемку</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="inclusive-col">
                                                                    <div class="inclusive-item">
                                                                        <div class="inclusive-item__content">
                                                                            <img src="images/inc2.png" alt="">
                                                                            <span>Обеды и ужины в  местных кафе </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="inclusive-col">
                                                                    <div class="inclusive-item">
                                                                        <div class="inclusive-item__content">
                                                                            <img src="images/inc3.png" alt="">
                                                                            <span>Дополнительные  услуги в отелях</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="inclusive-col">
                                                                    <div class="inclusive-item">
                                                                        <div class="inclusive-item__content">
                                                                            <img src="images/inc4.png" alt="">
                                                                            <span>Чаевые для гида и шоферов</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="tab-pane fade" id="nav-map" role="tabpanel" aria-labelledby="nav-map-tab">4</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        
        <footer>
            <div class="container">
                <div class="row">
                    <div class="footer-main">
                        <div class="row">
                            <div class="col-3">
                                <div class="footer-logo">
                                    <a href="#"><img src="images/logo.png" alt=""></a>
                                    <p>Бухара – жемчужина Востока, один из самых древних и красивейших городов,     расположенных в Узбекистане</p>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="footer-menu">
                                    <ul>
                                        <li><a href="#">О городе</a></li>
                                        <li><a href="#">Туры</a></li>
                                        <li><a href="#">Достопримечательности</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="footer-menu">
                                    <ul>
                                        <li><a href="#">Отели</a></li>
                                        <li><a href="#">Полезная информация</a></li>
                                        <li><a href="#">Новости</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="footer-copy">
                                    <span class="copy">© 2019. Все права защищены</span>
                                    <span class="developer">Разработка сайта:<a href="#"> Online Service Group</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        
    </div>    
</body>
</html>